[Desktop Entry]
Type=Application
Name=Ekilo
Comment=Fast terminal-based text editor
Exec=ekilo %F
Icon=utilities-terminal
Terminal=true
Categories=Utility;TextEditor;
MimeType=text/plain;
Keywords=text;editor;terminal;
